/* group based style */
.groups {
  margin-bottom: 40px;
}

.group {
  padding: 10px
  border: 1px solid #ccc;
}

.group.inactive {
	opacity: .5;
}

.group .participant-grid {
  margin-bottom: 0
}

.group > header {
  margin: -10px -10px 10px;
  padding: 10px 20px;
  background: #ddd;
  position: relative;
}

.group > header h2 {
  margin: 0;
}

.group > header h2 .suffix {
  font-weight: 200;
}


.group > header .header-right {
  font-size: 2.3em;
  background: #eaeaea;
  padding: 0 10px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  line-height: 1.7;
  font-weight: 200;
  color: #427a6b;
  border: 4px solid #ddd;
}

.group-grid {
  margin-bottom: 2em;
}

.group-stats {
  font-size: 1.4em;
}

/* instruction clicker */
clicker-width = 80px
clicker-button-width = 40px
clicker-button-height = 40px
clicker-desc-width = 300px
.instructions {
  width: clicker-width + clicker-desc-width;
}
.instruction-clicker {
  background: #fcfcfc;
  width: clicker-width;
  border: 1px solid #888;
  border-radius: 4px;
  padding: 30px 0;
  margin-top: 10px;
  box-shadow 2px 2px 1px rgba(0,0,0,.3);
}

.instruction-clicker .clicker-button-group {
  margin-bottom: 10px;
  position: relative;
  min-height: clicker-button-height;
}

.instruction-clicker .clicker-button {
  width: 40px;
  height: 40px;
  background: #ccc;
  border: 1px solid #aaa;
  border-right-width: 0;
  position: absolute;
  right: 0;
  line-height: 40px;
  text-align: center;
  font-size: 2em;
}

.instruction-clicker .primary .clicker-button {
  background-color: #006dcc;
  color: #fff
}

.instruction-clicker .danger .clicker-button {
  background-color: #BE302A;
  color: #fff
}

.instruction-clicker .disabled .clicker-button {
  background: #eee;
  color: #aaa;
  border-color: #ccc;
}

.instruction-clicker .clicker-button-description {
  margin-left: clicker-width + 10px;
  width: clicker-desc-width;
  font-size: 1.9em;
  padding-top: .4em;
}

h1 .round-header, h1 .round-label {
  font-weight: 400;
  color: #666;
  margin-left: .5em;
}

