<div class="app-selector"></div>
<div class="participant-controls"></div>
<div class="app-controls"></div>


<h1>Viewers</h1>
<div class="viewers"></div>

<h1>Controls</h1>
<div class="row-fluid">
	<div class="span6 control-panel-group">
		<h4>Participant Server</h4>
		<div>
			<button class="btn enable-choices-button"><i class='circle-status status-off'></i> Not Accepting Choices</button>
			<button class="btn instructor-controller"><i class='circle-status status-on'></i> Instructor Controller Enabled</button>
		</div>
	</div>

	<div class="span6 control-panel-group">
		<h4>Utilities</h4>
		<div>
			<button class="btn add-countdown-button">+10s Countdown</button>
			<button class="btn clear-countdown-button">Clear Countdown</button>
		</div>
	</div>
</div>